.row {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-top: 8%;

}
.header-text {
  text-align: left;
  /* margin-right: 0%; */
}
.header-text p{
  font-size: 30px;
}
.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}
.header-text h1 span {
  color: #ff004f;
}

.profile img {
  height: 10cm;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0#565253, 0 4px 15px 0 #565253;

}
